.bill {

  &-title {
      margin: 4px;
      font-size: 40px;
      text-align: center;
  }

  &-preview {
      background-color: white;
      border: 1px solid black;
      margin: 2px;
      padding: 2px;
      position:relative;
      top: 10px;
      white-space: pre-wrap;
  }

}
