.bill {

    &-overview {

        &-header {
            font-size: 1.65em;
            margin-bottom: 1.75em;
        }

        &-label {
            background-color: $ui_red_dark;
            border-bottom: 3px solid $ui_black;
            color: $ui_white;
            font-weight: bold;
            line-height: 30px;
            padding: 0 15px;
            position: relative;
            width: 150px;
            z-index: 2;
        }

        &-panel {
            background-color: $ui_white;
            border: 1px solid $ui_gray_dark;
            box-shadow: 0px 0px 18px $ui_gray;
            margin-bottom: 15px;
            margin-top: -15px;
            padding-bottom: 15px;
            padding-top: 25px;
            padding-left: 30px;
            padding-right: 30px;
            z-index: 0;

            > * {
                padding-bottom: 5px;
                padding-right: 10px;
                padding-top: 5px;
            }
        }

    }

    &-cosponsor {
        padding: 6px 10px;
    }

    &-title {
        font-size: 40px;
        margin: 4px;
        text-align: center;
    }

    &-preview {
        background-color: $ui_white;
        border: 1px solid $ui_black;
        margin: 5px 0;
        padding: 5px;
        white-space: pre-wrap;
    }

}

.vote {

    &-officer {
        display: flex;
        line-height: 34px;
        margin-bottom: 10px;
    }

    &-buttons {
        margin: 10px;

        button {
            margin: 0 5px;
        }

    }

}

.debate {

    &-officer {
        display: flex;
        line-height: 34px;
        margin-bottom: 10px;
    }

    &-comment {
        min-height: 120px;
    }

    &-submit {
        float: right;
        margin: 5px;
    }

}

.motion {
    background-color: $ui_off_white;
    padding: 5px;

    &-header {
        display: flex;
        line-height: 34px;
        margin-bottom: 5px;
    }

    &-name {
        font-size: 20px;
        margin-right: 10px;
    }

    &-buttons {
        display: flex;
    }

}
