.bill {

    &-title {
        margin: 4px;
        font-size: 40px;
        text-align: center;
    }

    &-preview {
        background-color: white;
        border: 1px solid black;
        margin: 10px 0;
        padding: 2px;
        white-space: pre-wrap;
    }

}

.vote {

    &-buttons {
        margin: 10px;

        button {
            margin: 0 5px;
        }

    }

}

.debate {

    &-comment {
        min-height: 120px;
    }

    &-submit {
        float: right;
        margin: 5px;
    }

}
