.campaign {

    &-header {
        font-size: 40px;
        text-align: center;
    }

    &-subheader {
        font-size: 20px;
        text-align: center;
    }

    &-warchest {
        font-size: 14px;
        text-align: center;
    }

    &-days {
        text-decoration: underline;
    }

    &-day-link {
        cursor: pointer;
    }

}

.platform {

    &-header {
        background-color: $ui_off_white;
        border: 1px solid $ui_black;
        border-bottom: 0;
        display: flex;
        padding: 5px;
    }

    &-edit-link {
        cursor: pointer;
    }

    &-edit-container {
        margin: 5px 0;
    }

    .preview {
        background-color: $ui_white;
        border: 1px solid $ui_black;
        padding: 5px;
        white-space: pre-wrap;
    }

}

.fundraiser {
    margin: 10px 0;

    &-header {
        background-color: $ui_off_white;
        border: 1px solid $ui_black;
        display: flex;
        padding: 5px;
    }

    &-edit-link {
        cursor: pointer;
    }

    &-edit-container {
        margin: 5px 0;
    }

    &-grade {
        display: flex;
        margin-top: 5px;

        label {
            line-height: 32px;
            margin: 0 5px;
        }

        input {
            flex: 1;
        }

        button {
            margin: 0 5px;
        }

    }

    &-new-title {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 20px;
        text-align: center;

        > input {
            font-size: 16px;
            margin-bottom: 5px;
            text-align: center;
            width: 50%;
        }
    }

    .preview {
        background-color: $ui_white;
        border: 1px solid $ui_black;
        border-top: 0px;
        padding: 5px;
        white-space: pre-wrap;
    }

}

.warchest-number {
    font-weight: bold;
}

.warchest-total {

    font-size: 30px;
    margin: 10px 0;
    text-align: center;

}

.campaignday {

    &-links {
        display: flex;
    }

}
