.campaign {

    &-header {
        font-size: 40px;
        text-align: center;
    }

    &-subheader {
        font-size: 20px;
        text-align: center;
    }

    &-warchest {
        font-size: 14px;
        text-align: center;
    }

}

.fundraiser {

    &-new {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }

}
