.capitol {

    &-header {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    &-modal {
        padding: 5px;
    }

    > .fixedDataTableLayout_main {
        margin: auto;
    }

}
