.chamber {

    &-clerk {

      thead, tbody {
          :nth-child(1) {
              width: 70%;
          }
          :nth-child(2) {
              width: 30%;
          }
      }
    }

    &-header {
        font-size: 20px;
        text-align: center;
    }

}
