.chamber {

    &-header {
        font-size: 20px;
        text-align: center;
    }

    &-cornerlink {
        margin-left: 10px;
    }

    &-clerk {

        thead, tbody {
            tr {
                background-color: $ui_off_white;
            }
            :nth-child(1) {
                width: 70%;
            }
            :nth-child(2) {
                width: 30%;
            }
        }

    }

    &-votes {

        thead, tbody {
            tr {
                background-color: $ui_off_white;
            }
            :nth-child(1) {
                width: 60%;
            }
            :nth-child(2) {
                width: 20%;
            }
            :nth-child(3) {
                width: 20%;
            }
        }

    }

    &-debates {

        thead, tbody {
            tr {
                background-color: $ui_off_white;
            }
            :nth-child(1) {
                width: 70%;
            }
            :nth-child(2) {
                width: 30%;
            }
        }

    }

    &-table {

        a {
            cursor: pointer;
        }

        thead, tbody {
            tr {
                background-color: $ui_off_white;
            }
        }

    }

}

.newdebate {

    &-header {
        background-color: $ui_white;
        border: 1px solid  $ui_gray_dark;
        display: flex;
        padding: 10px;

        &-info {
            flex: 1
        }

    }

}
