.character {

    &-header {
        display: flex;
        margin: 0 40px;
        margin-bottom: 20px;

        &-label {
          line-height: 200%;
        }

        &-selector {
            flex: 1;
            margin-left: 10px;
        }
    }

    &-avatar-container {
        padding-top: 40px;
        text-align: center;
    }

    &-avatar {
        max-height: 150px;
        max-width: 150px;
    }

    &-buttons {
        float: right;
        margin-top: 10px;

        button {
          margin: 0 2px;
        }
    }

    .control-label {
        margin-top: 10px;
    }

}
