$ui_usgs: #cfd8dc;
$ui_democratic: #3f51b5;
$ui_republican: #f44336;
$ui_independent: #4caf50;
$ui_media: #795548;
$ui_admin: #9c27b0;

$ui_black: #212121;
$ui_blue: #0d47a1;
$ui_blue_light: #03a9f4;
$ui_gray: #9e9e9e;
$ui_gray_dark: #616161;
$ui_red_dark: #b71c1c;
$ui_off_white: #eeeeee;
$ui_white: #fafafa;
