.editor_container {

    > button {
        float: right;
    }

    > .preview {
        background-color: white;
        border: 1px solid black;
        margin: 5px 0;
        padding: 5px;
        position:relative;
        top: 50px;
        white-space: pre-wrap;
    }

}

.editor {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 2px;

    > .quill > .ql-toolbar {
        box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    }

    > .quill > .quill-contents {
        max-height: 400px;
        overflow-wrap: break-word;
    }

}

.billeditor {

    &-header {
        margin: 4px;
        font-size: 40px;
        text-align: center;
    }

    &-title {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
}
