.header {
    background-color: $ui_blue;
    color: $ui_off_white;
    display: flex;
    font-size: 1.5em;
    padding: 10px;

    &-container {
        display: flex;
    }

    &-welcome {
        color: $ui_white;
        flex: 1;
        font-weight: bold;
    }

    &-logo {
        flex: 1;
        text-align: center;

        img {
            margin: -9px;
            height: 42px;
        }

    }

    &-messages {
        margin: 0 10px;
    }

    &-notifications {
        margin: 0 10px;
    }

    &-settings {
        border-left: 1px solid $ui_gray;
        margin-left: 5px;
        padding-left: 10px;
    }

    &-login {
        color: $ui_white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $ui_gray;
        }

    }

}
