.leaderboard {
    display: flex;
    flex-flow: column;

    .row {
        border: $ui_gray 1px solid;
        display: flex;
        flex-flow: row;
    }

    .col {
        flex: 1;
        padding: 4px;
    }

    .row:nth-child(odd) {
        background: $ui_white;
    }

    .row:nth-child(even) {
        background: $ui_off_white;
    }

}
