.sidebar {

    &-container {
        background-color: $ui_off_white;
        height: 100%;
        overflow: auto;
        padding-bottom: 40px;
    }

    &-header {
        background-color: $ui_blue_light;
        color: $ui_white;
    }

    &-logo {
        height: 64px;
        text-align: center;

        img {
            height: 64px;
            cursor: pointer;
        }

    }

    &-link {
        color: $ui_gray_dark;
        cursor: default;
        display: block;
        line-height: normal;
        padding: 8px 0;
        text-decoration: none;
        white-space: normal;

        &:hover {
            color: $ui_black;
            text-decoration: none;
        }
    }

    &-subitem {
        font-size: 14px;
        padding-left: 20px;
    }

}
