.sidebar {

    &-root {
        background-color: $ui_off_white;
        display: flex;
        flex-flow: column;
        font-family: Arial;
        font-weight: 300;
        height: 100%;
    }

    &-header {
        background-color: $ui_blue_light;
        color: $ui_white;
        font-size: 1.5em;
        padding: 10px;
    }

    &-logo {
        text-align: center;

        img {
            height: 42px;
            margin: -6px;
            cursor: pointer;
        }

    }

    &-content {
        overflow: auto;
        padding: 10px;
    }

    &-link {
        display: block;
        color: $ui_gray_dark;
        text-decoration: none;

        &:hover {
            color: $ui_black;
        }
    }

    &-menu {
        padding: 4px 0px;
        font-size: 20px;
    }

    &-submenu {
        padding: 2px 0px;
        font-size: 14px;
    }

    &-subitems {
        position: relative;
        left: 4px;
    }

}
