//@import '../font-awesome/scss/font-awesome.scss';
@import 'quill.snow';
@import 'colors';

@import 'character';
@import 'editor';
@import 'header';
@import 'leaderboard';
@import 'login';
@import 'sidebar';

html body {
    background-color: $ui_usgs;
    font-family: Arial;
}

.main_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_layout {
    flex: 1;
    padding: 10px;
    y-overflow: auto;
}

.divider {
    height: 1px;
    border-bottom: 1px solid $ui_gray;
}


.democratic {
    color: $ui_democratic !important;
}

.republican {
    color: $ui_republican !important;
}

.independent {
    color: $ui_independent !important;
}

.fourthestate {
    color: $ui_media !important;
}


.bg_democratic {
    background-color: $ui_democratic !important;
}

.bg_republican {
    background-color: $ui_republican !important;
}

.bg_independent {
    background-color: $ui_independent !important;
}

.bg_fourthestate {
    color: $ui_media !important;
}
