@import 'quill.snow';
@import 'colors';

@import 'header';
@import 'leaderboard';
@import 'sidebar';
@import 'editor';

html body {
    background-color: $ui_usgs;
    font-family: Arial;
}

button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main_layout {
    padding: 5px;
}

.divider {
    height:1px;
    border-bottom:1px solid $ui_gray;
}
