//@import '../font-awesome/scss/font-awesome.scss';
@import 'quill.snow';
@import 'colors';

@import 'editor';
@import 'header';
@import 'leaderboard';
@import 'login';
@import 'sidebar';

html body {
    background-color: $ui_usgs;
    font-family: Arial;
}

button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main_layout {
    padding: 10px;
}

.divider {
    height: 1px;
    border-bottom: 1px solid $ui_gray;
}
