//@import '../font-awesome/scss/font-awesome.scss';
@import 'quill.snow';
@import 'colors';

@import 'bill';
@import 'capitol';
@import 'chamber';
@import 'character';
@import 'comment';
@import 'editor';
@import 'topbar';
@import 'leaderboard';
@import 'login';
@import 'sidebar';

html body {
    background-color: $ui_usgs;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 256px;
}

.main_layout {
    flex: 1;
    padding: 10px;
    overflow: auto;
}

.divider {
    background-color: $ui_gray_dark;
    color: $ui_gray_dark;
}


.democratic {
    color: $ui_democratic !important;
}

.republican {
    color: $ui_republican !important;
}

.independent {
    color: $ui_independent !important;
}

.fourthestate {
    color: $ui_media !important;
}


.bg_democratic {
    background-color: $ui_democratic !important;
}

.bg_republican {
    background-color: $ui_republican !important;
}

.bg_independent {
    background-color: $ui_independent !important;
}

.bg_fourthestate {
    background-color: $ui_media !important;
}
