.topbar {
    background-color: $ui_blue !important;
    display: flex !important;

    &-children {
        display: flex;
        flex: 2;
        margin-top: 14px;
    }

    &-title {
        font-size: 24px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-characters {
        color: $ui_white;
        display: flex;
        flex: 1;
        text-align: center;

        &-label {
            font-size: 20px;
            margin-top: 2px;
        }

    }

    &-icons {
        color: $ui_white;
        display: flex;

        i {
            font-size: 24px;
            cursor: pointer;
        }

        > * {
            margin-left: 12px;
        }

    }

    &-settings {
        font-size: 24px;

        > button {
            height: 36px !important;
            padding: 0px !important;
        }

    }

    &-slash {
        color: $ui_white;
        padding-left: 4px;
        padding-right: 4px;
    }

    &-authentication {
        color: $ui_white;
        display: inline-block;
        font-weight: bold;
    }

    &-register {
        color: $ui_white;
        text-decoration: none;

        &:hover {
            color: $ui_gray;
            text-decoration: none;
        }

    }

    &-login {
        color: $ui_white;
        text-decoration: none;

        &:hover {
            color: $ui_gray;
            text-decoration: none;
        }

    }

}
