.topbar {
    background-color: $ui_blue;
    color: $ui_white;
    display: flex;
    padding: 10px;

    &-welcome {
        font-size: 1.5em;
    }

    &-logo {
        flex: 1;
        text-align: center;

        img {
            margin: -9px;
            height: 42px;
        }

    }

    &-characters {
        flex: 1;
        height: 1;
        text-align: center;

        > * {
          display: inline-block;
        }

    }

    &-container {
        display: flex;
        font-size: 1.5em;
        padding: 4px;
    }

    &-messages {
        margin: 0 10px;
    }

    &-notifications {
        margin: 0 10px;
    }

    &-settings {
        border-left: 1px solid $ui_gray;
        margin-left: 5px;
        padding-left: 10px;
    }

    &-login {
        color: $ui_white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $ui_gray;
        }

    }

}
